/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
article {
  margin-bottom: 50px;
}
.logo {
  font-size: 25px;
  font-weight: bold;
  color: rgba(255, 255, 255, 1);
}
.logo:hover {
  color: rgba(255, 255, 255, 1);
}
.title {
  margin-top: 20px;
  margin-bottom: 30px
}
.currnet-user-name{
  color: rgba(255, 255, 255, 1);
  font-weight: bold;
}
.user-icon {
  width: 100px;
  border-radius: 50%;
  border: medium solid #7c7c7c
}
.user-menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 20px;
}
.small-user-icon {
  width: 50px;
  margin-top: 3px;
  margin-right: 5px;
  border-radius: 50%;
  border: medium solid #7c7c7c
}
.currnet-user-name {
  margin-right: 20px;
}
