.bill-table__head__title, .bill-table__body__title {
  width: 60%;
}
.bill-table {
  margin-top: 20px;
}
#notice {
  font-weight: bold;
}
.refine_search {
  padding: 10px;
  margin-bottom: 30px;
  width: 650px
}
.refine_search__summary {
  font-weight: bold;
}
.refine_search__form input {
  font-size: 16px;
}
